/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#loginAnchorParent{
    -fx-background-image: url("../buttons/loginBackground.jpg");
    -fx-webkit-background-size: cover;
    -fx-moz-background-size: cover;
    -fx-o-background-size: cover;
    -fx-background-size: cover;
}

#scroll{
    -fx-background-image: url("../buttons/loginBackground.jpg");
    -fx-webkit-background-size: cover;
    -fx-moz-background-size: cover;
    -fx-o-background-size: cover;
    -fx-background-size: cover;
}

